[submodule "realsense-ros"]
	path = code/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
  	branch = ros2-development
  
[submodule "code/src/uia_master_husky"]
	path = code/src/uia_master_husky
	url = https://github.com/orjano-max/uia_master_husky
	
[submodule "code/src/serial"]
	path = code/src/serial
	url = https://github.com/mikeferguson/serial
	
[submodule "code/src/um7"]
	path = code/src/um7
	url = https://github.com/mikeferguson/um7
	
[submodule "code/src/apriltag_msgs"]
	path = code/src/apriltag_msgs
	url = https://github.com/christianrauch/apriltag_msgs
	
[submodule "code/src/vision_opencv"]
	path = code/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv
	branch = galactic
	
[submodule "code/src/apriltag"]
	path = code/src/apriltag
	url = https://github.com/AprilRobotics/apriltag
