<robot>
  <!-- Husky Urdf Extras -->
  <!-- 
  Addons to the clearpath husky is added in this file. 
  This file is passed when launching the husky and addons described here will be added to the husky
    -->

  <!-- Sensor frame link -->
  <link
    name="frame_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="2.2936" />
      <inertia
        ixx="0.026381"
        ixy="1.2862E-08"
        ixz="-2.2196E-07"
        iyy="0.021942"
        iyz="2.0183E-08"
        izz="0.0063606" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_group/meshes/frame_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_group/meshes/frame_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="frame_joint" type="fixed">
    <parent link="user_rail_link"/>
    <child link="frame_link"/>
    <origin xyz="-0.01 0 0.01" rpy="0 0 0"/>
  </joint>

   <!-- OUSTER LIDAR LINK. ØØ. 19.09.22 -->
  <link name="lidar_link">
    <visual>
      <origin
        xyz="0 0 0.0255"
        rpy="0 0 0" />
      <geometry>
       <cylinder radius="0.039" length="0.03"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="user_rail_link"/>
    <child link="lidar_link"/>
    <origin xyz="-0.0635 0 0.610" rpy="0 0 0"/>
  </joint>
  
  

</robot>