<robot>
  <!-- Interbotix Urdf Extras -->
  <!-- 
  Addons to the Interbotix vx300 is added in this file. 
  This file is passed when launching the husky and addons described here will be added to the husky
    -->
  <!-- Realsense camera link -->
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.020453 0.002211 0.022599"
        rpy="0 0 0" />
      <mass
        value="0.064463" />
      <inertia
        ixx="4.6905E-05"
        ixy="5.6231E-07"
        ixz="-1.1304E-06"
        iyy="1.1434E-05"
        iyz="-1.1573E-07"
        izz="4.5979E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_group/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://husky_group/meshes/camera_link.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="realsense_joint" type="fixed">
    <parent link="$(arg robot_name)/gripper_link"/>
    <child link="camera_link"/>
    <origin xyz="0.028 0 0.035" rpy="0 0 0"/>
  </joint>
  
</robot>